.paginado ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 40px 10px 20px 10px;
}
.paginado ul li a {
    padding: 5px 10px;
    font-size: large;
    font-weight: 600;
    margin: 5px 2px;
    display: flex;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
}